@using Echelon.Resources
@model Echelon.Models.ViewModels.ProfileViewModel

@section metadata{
    <title>@SiteTitle.LoginPage</title>
}

<section id="wrapper" class="profile-container">
    <div class="profile-container__information">
        <h3>Profile</h3>

        @using (Html.BeginForm("UploadAvatar", "Profile", FormMethod.Post, new {id = "avatarform", @class = "form-horizontal form__container", enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="avatar-upload">
                        <div>
                            <img alt="avatar" class="avatar avatar--user avatar--profile" height="200" src="" width="200">
                        </div>
                        <label class="btn btn-info text-align-center">
                            Upload new picture
                            <input id="fileUpload" type="file" class="file-upload form-control" placeholder="Avatar" name="File">
                        </label>

                        <div id="uploading" class="upload-state uploading margin-top-10">
                            <button type="button" class="btn btn-info upload__button text-align-center" disabled="">
                                <div alt="uploading image" class="loading__icon loading__icon--upload"></div>
                                <span>Uploading...</span>
                                <span id="fileNameUploaded"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new {id = "detailsform", @class = "form-horizontal form__container", enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.FirstName, new {@class = "form-control", placeholder = "FirstName"})
                        @Html.ValidationMessageFor(u => u.FirstName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.LastName, new {@class = "form-control", placeholder = "LastName"})
                        @Html.ValidationMessageFor(u => u.LastName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.DisplayName, new {@class = "form-control", placeholder = "UserName", required = "true"})
                        @Html.ValidationMessageFor(u => u.DisplayName)
                    </div>
                </div>
            </div>
            <div class="row text-align-center">
                <input id="saveProfile" class="btn btn-info btn-lg" type="submit" value="Save">
            </div>
        }

        <div class="row">
            <h3>Theme</h3>
            <button id="themeDark" data-attribute="theme" data-target="theme-Dark" class="btn btn-info">Dark</button>
            <button id="themeLight" data-attribute="theme" data-target="theme-Light" class="btn btn-info">Light</button>
        </div>
    </div>
</section>
@section scripts {
    <script>
        $(function() {
            ProfilePage();
        });
    </script>
}