@using Echelon.Resources
@model Echelon.Models.ViewModels.ProfileViewModel

@section metadata{
    <title>@SiteTitle.LoginPage</title>
}

<section id="wrapper" class="profile-container">
    <div class="profile-container__information">
        @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new {id = "detailsform", @class = "form-horizontal form-material", enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            ;
            <h3>Profile</h3>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="avatar-upload">
                        <div>
                            <img alt="avatar" class="avatar avatar--user avatar--profile" height="200" src="" width="200">
                        </div>
                        <label class="btn btn-info text-align-center">
                            Upload new picture
                            <input id="fileUpload" type="file" class="file-upload form-control" placeholder="Avatar" name="File">
                        </label>

                        <div id="uploading" class="upload-state uploading margin-top-10">
                            <button type="button" class="btn btn-info text-align-center" disabled="">
                                <img alt="uploading image" class="v-align-text-bottom" height="16" src="" width="16"> Uploading...
                                <span id="fileNameUploaded"></span>
                            </button>
                        </div>

                        @*<div class="upload-state text-red file-empty">
                                This file is empty.
                            </div>

                            <div class="upload-state text-red too-big">
                                Please upload a picture smaller than 1 MB.
                            </div>

                            <div class="upload-state text-red bad-dimensions">
                                Please upload a picture smaller than 10,000x10,000.
                            </div>

                            <div class="upload-state text-red bad-file">
                                We only support PNG, GIF, or JPG pictures.
                            </div>

                            <div class="upload-state text-red failed-request">
                                Something went really wrong and we can’t process that picture.
                            </div>

                            <div class="upload-state text-red bad-format">
                                File contents don't match the file extension.
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.FirstName, new {@class = "form-control", placeholder = "FirstName", required = "true"})
                        @Html.ValidationMessageFor(u => u.FirstName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.LastName, new {@class = "form-control", placeholder = "LastName", required = "true"})
                        @Html.ValidationMessageFor(u => u.LastName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.UserName, new {@class = "form-control", placeholder = "UserName", required = "true"})
                        @Html.ValidationMessageFor(u => u.UserName)
                    </div>
                </div>
                <div class="col-xs-3 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.CheckBoxFor(u => u.UserNameEnabled, new {@class = "form-control", placeholder = "Use Display Name"})
                        @Html.ValidationMessageFor(u => u.UserNameEnabled)
                        @Html.LabelFor(u => u.UserNameEnabled, "Enabled")
                    </div>
                </div>
            </div>
            <div class="row text-align-center">
                <input class="btn btn-info btn-lg" type="submit" name="Save">
            </div>
        }
    </div>
</section>
@section scripts {
    <script>
        $(function() {
            ProfilePage();
        });
    </script>
}