@using Echelon.Resources
@model Echelon.Models.ViewModels.ProfileViewModel

@section metadata{
    <title>@SiteTitle.LoginPage</title>
}

<section id="wrapper" class="profile-container">
    <div class="profile-container__information">
        @using (Html.BeginForm("SaveDetails", "Profile", FormMethod.Post, new { id = "detailsform", @class = "form-horizontal form-material" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Profile Update Failed")
            <h3>Profile</h3>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="avatar-upload">
                        <div>
                            <img alt="Foxpips" class="avatar avatar--user avatar--profile" height="200" src="" width="200">
                        </div>
                        <label class="btn btn-info text-align-center">
                            Upload new picture
                            <input type="file" class="file-upload">
                        </label>

                        <div class="upload-state uloading">
                            <button type="button" class="btn margin-top-5" disabled="">
                                <img alt="uploading image" class="v-align-text-bottom" height="16" src="" width="16"> Uploading...
                            </button>
                        </div>

                        @*<div class="upload-state text-red file-empty">
                                This file is empty.
                            </div>

                            <div class="upload-state text-red too-big">
                                Please upload a picture smaller than 1 MB.
                            </div>

                            <div class="upload-state text-red bad-dimensions">
                                Please upload a picture smaller than 10,000x10,000.
                            </div>

                            <div class="upload-state text-red bad-file">
                                We only support PNG, GIF, or JPG pictures.
                            </div>

                            <div class="upload-state text-red failed-request">
                                Something went really wrong and we can’t process that picture.
                            </div>

                            <div class="upload-state text-red bad-format">
                                File contents don't match the file extension.
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", placeholder = "FirstName", required = "true" })
                        @Html.ValidationMessageFor(u => u.FirstName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.SecondName, new { @class = "form-control", placeholder = "SecondName", required = "true" })
                        @Html.ValidationMessageFor(u => u.SecondName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.DisplayName, new { @class = "form-control", placeholder = "DisplayName", required = "true" })
                        @Html.ValidationMessageFor(u => u.DisplayName)
                    </div>
                </div>
                <div class="col-xs-3 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.CheckBoxFor(u => u.UseDisplayName, new { @class = "form-control", placeholder = "Use Display Name", required = "true" })
                        @Html.ValidationMessageFor(u => u.UseDisplayName)
                        @Html.LabelFor(u => u.UseDisplayName, "Enabled")
                    </div>
                </div>
            </div>
            <div class="row text-align-center">
                <button class="btn btn-info btn-lg" type="submit">Save</button>
            </div>
        }
    </div>
</section>
@section scripts {
    <script>
        $(function() {
            ProfilePage();
        });
    </script>
}