@using Echelon.Resources
@model Echelon.Models.ViewModels.ForgottenPasswordModel

@section metadata{
    <title>@Login.ForgottenPassword</title>
}

<section id="wrapper" class="profile-container">
    <div class="profile-container__information">
        <h3>@Login.RecoverPassword</h3>
        @using (Html.BeginForm("Index", "ResetPassword", FormMethod.Post, new {id = "resetform", @class = "form__container form__container--border"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, Login.LoginFailed)

            <div class="form-group ">
                <div class="col-xs-12">
                    <p class="theme__text">@Login.Instructions </p>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    @Html.TextBoxFor(u => u.Email, new
                    {
                        @class = "form-control",
                        placeholder = "Email",
                        required = "true",
                        oninvalid = "this.setCustomValidity('" + Login.MissingEmail + "')",
                        oninput = "setCustomValidity('')"
                    })
                </div>
            </div>
            <div class="row text-align-center">
                <input id="resetBtn" class="btn btn-info btn-lg" type="submit" value="@Login.Reset">
            </div>
        }
    </div>
</section>


@section scripts {
    <script>
        $(function() {
        });
    </script>
}
