@using Echelon.Resources
@model Echelon.Models.ViewModels.ResetPasswordViewModel

@section metadata{
    <title>@SiteTitle.LoginPage</title>
}

<section id="wrapper" class="profile-container">
    <div class="profile-container__information">
        <h3>Register</h3>
        @using (Html.BeginForm("ResetPasswordForm", "ResetPassword", FormMethod.Post, new { id = "detailsform", @class = "form__container form__container--border", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            <div class="row">
                <div class="col-xs-12 margin-top-10 text-align-center">
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.Password, new { @class = "form-control", placeholder = "Password", type = "password", required = "true" })
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                </div>
            </div>
            <div class="row text-align-center">
                <input id="registerBtn" class="btn btn-info btn-lg" type="submit" value="Update Password">
            </div>
        }
    </div>
</section>
@section scripts {
    <script>
        $(function() {
        });
    </script>
}