@using Echelon.Resources
@{
    var user = Request.GetOwinContext().Authentication.User.Identity.Name;
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        @if (string.IsNullOrEmpty(user))
            {
            <span>@Login.NotLoggedIn</span>
        }

        else
        {
            <span class="dropdown-toggle profile float-right margin-top-5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span><i id="menuGlobe" class="material-icons fa fa-globe"></i></span>
            </span>
        }
        <div class="navbar-header">
            <img id="headerAvatar" data-target="@user" class="avatar avatar--user margin-right-10" src="@ViewBag.AvatarImage" alt="avatar" />
            <div class="google-translate__container">
                <div id="google-translate-element"></div>
            </div>
        </div>
    </div>
</nav>

<div id="leftSideNav" class="sidenav sidenav--left">
    <span class="closebtn component__text">&times;</span>
    @Html.ActionLink("Home", "Index", "Chat", null, new { @class = "" })
</div>

<div id="rightSideNav" class="sidenav sidenav--right">
    <span class="closebtn component__text">&times;</span>
    @Html.ActionLink("Profile", "Index", "Profile", null, new { @class = "" })
    @Html.ActionLink(Login.LogOut, "Logout", "Login", null, new { @class = "" })
</div>
