@using Echelon.Resources
@{
    var user = Request.GetOwinContext().Authentication.User.Identity.Name;
}

@Html.Hidden("SiteUrl", $"{Request.Url?.Scheme}://{Request.Url?.Authority}{Url.Content("~")}")
<nav class="navbar navbar-default">
    <div class="container-fluid">
        @if (string.IsNullOrEmpty(user))
            {
            <span>@Login.NotLoggedIn</span>
        }

        else
        {
            <span class="dropdown-toggle profile float-right margin-top-5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span><i id="menuGlobe" class="material-icons fa fa-globe"></i></span>
            </span>
        }
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Chat")">
                <img id="headerAvatar" data-target="@user" class="avatar avatar--user margin-right-10" src="@ViewBag.AvatarImage" alt="avatar" />
            </a>
            <div class="google-translate__container">
                <div id="google-translate-element"></div>
            </div>
        </div>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <span class="closebtn">&times;</span>
    @Html.ActionLink("Profile", "Index", "Profile")
    @Html.ActionLink(Login.LogOut, "Logout", "Login")
</div>