@using Echelon.Resources
@{
    var user = Request.GetOwinContext().Authentication.User.Identity;
}

@if (user.IsAuthenticated)
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            @if (string.IsNullOrEmpty(user.Name))
            {
                <span>@Login.NotLoggedIn</span>
            }

            else
            {
                <span class="dropdown-toggle profile float-right margin-top-5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span><i id="menuHome" class="material-icons fas fa-bars"></i></span>
                </span>
                <span class="profile float-right margin-top-5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span><i id="menuUsers" class="material-icons fas fa-users"></i></span>
                </span>
            }
            <div class="navbar-header">
                <img id="headerAvatar" data-target="@user.Name" class="avatar avatar--user avatar--profileMenu margin-right-10" src="@ViewBag.AvatarImage"/>
                <div class="google-translate__container">
                    <div id="google-translate-element"></div>
                </div>
            </div>
        </div>
    </nav>

    <div id="menuOverlayLeft" class="sidenav__overlay sidenav__overlay--right"></div>
    <div id="menuOverlayRight" class="sidenav__overlay sidenav__overlay--left"></div>

    <div id="leftSideNav" class="sidenav sidenav--left">
        @Html.ActionLink("Profile", "Index", "Profile", null, new { @class = "sidenav--slides" })
    </div>

    <div id="rightSideNav" class="sidenav sidenav--right">
        @Html.ActionLink("Home", "Index", "Chat", null, new { @class = "sidenav--slides" })
        @Html.ActionLink(Login.LogOut, "Logout", "Login", null, new {@class = "sidenav--slides"})
    </div>
    <div id="usersSideNav" class="userOnlineMenu userOnlineMenu--right"></div>
}
else
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <span class="float-right margin-top-5" role="button" aria-haspopup="true" aria-expanded="false">
                <a href="@Url.Action("Index", "Login")"><i class="material-icons fa fa-home"></i></a>
            </span> 
        </div>
    </nav>
}