@using System.Threading
<!DOCTYPE html>

<html id="htmlContainer" class="height-100-percent" style="display: none">

<head lang="@Thread.CurrentThread.CurrentCulture">
    <title>Echelon</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2882c2">
    <meta name="msapplication-navbutton-color" content="#2882c2">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2882c2">

    @Html.Partial("_Favicon")
    @RenderSection("metadata", false)
    @Styles.Render("~/bundle/css/theme-Dark")
</head>

<body class="window-container overflow-auto theme__background">
    @Html.Hidden("SiteUrl", $"{Request.Url?.Scheme}://{Request.Url?.Authority}{Url.Content("~")}")

    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundle/js")

    <script>
        const siteurl = $("#SiteUrl").val();
        $(function () {
            SitePage();
        });
    </script>

    @RenderSection("scripts", false)
</body>

</html>